.img-avatar ion-row {
  height: 60px;
  padding-top:10px;
}

.skill-description ion-row
{
	height: 60px;
}

.image-right {
	height: 50px;
}

.image-right-class {
	height: 30px;
}

.image-right-small {
	height: 20px;
}

.image-right-small-class {
	height: 15px;
}


